<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.login.mapper.JoinMapper">

    <insert id="save"
            parameterType="com.example.login.model.UserInfo">
        INSERT INTO USERS (
            ID,
            PASSWORD,
            NAME,
            EMAIL,
            ROLE
        )
        VALUES (
            #{id},
            #{password},
            #{name},
            #{email},
            #{role}
        )
    </insert>

    <select id="countDuplicateId"
            parameterType="com.example.login.model.UserInfo"
            resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE ID = #{id}
    </select>

    <select id="findByName"
            parameterType="string"
            resultType="com.example.login.model.UserInfo">
        SELECT
            NO,
            ID,
            PASSWORD,
            NAME,
            EMAIL,
            ROLE
        FROM USERS
        WHERE ID = #{id}
    </select>

</mapper>